<!--lists the songs added by everyone so far-->

<!--if we have selected a song for today, then show it-->
<h2>your selected song:</h2>

<!--else, offer to let them add a song-->

<!--everyone's song-->
<h2>see what everyone's listening to...</h2>
{{#each songs as |s|}}
    
{{/each}}
